---
title: About
---
<section class="hero diagonal">
	<div class="container">
		<br><br><br>
		<h2 class="editable">Les membres</h2>
		<p class="subtext editable">Découvrez les jeunes chercheurs qui sont au coeur de la vie du groupe!</p>
	</div>
</section>

<section class="diagonal patterned">
	<div class="container">
	    <p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong>Manage Staff members</a></p>
		<ul class="image-grid">
			{% for member in site.staff_members %}
				<li>{% include staff-member.html member=member %}</li>
			{% endfor %}
		</ul>
	</div>
</section>
